@model CapstoneProject.Models.Account_Models.AccountInformation
@{
    Layout = "_Layout";
    ViewData["Title"] = "Reset Password";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea, [type=date], [type=time], [type=password] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #3fe86c;
            }

        .pageContainer {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
    </style>
</head>
<body>
    <h1>@ViewBag.Result</h1>
    <div>
        <div>
            <table border="1" width="100%">
                <tr>
                    <td style="padding: 10px;">
                        <a><img src="/img/Logo_Cropped.jpg" style="width: 300px; height: 125px;" /></a>
                    </td>
                    <td style="padding: 10px;" width="60%" align="left">
                        <h1>Reset Password</h1>
                    </td>
                </tr>
            </table>
        </div><br>
        <div>
            <table border="1" width="100%">
                <tr>
                    <td style="padding: 10px;">
                        <div class="pageContainer">
                            <form method="post" asp-action="ResetPassword">
                                <div asp-validation-summary="All">
                                    <div class="row">
                                        <div class="col-25">
                                            <label>Old Password: </label>
                                        </div>
                                        <div class="col-75">
                                            <input asp-for="StudentFirstName" type="password" placeholder="Enter your old password.." />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label asp-for="Password">New Password: </label>
                                        </div>
                                        <div class="col-75">
                                            <input asp-for="Password" type="password" placeholder="Enter your new password.." />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label asp-for="PasswordConformation">Re-Enter New Password: </label>
                                        </div>
                                        <div class="col-75">
                                            <input asp-for="PasswordConformation" type="password" placeholder="Re-Enter your password.." />
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <input type="submit" value="Reset Password">
                                    </div>
                                    <input type="text" asp-for="ParentFirstName" name="ParentFirstName" hidden value="@Model.ParentFirstName">
                                    <input type="text" asp-for="ParentLastName" name="ParentLastName" hidden value="@Model.ParentLastName">
                                    <!--<input type="text" asp-for="StudentFirstName" name="StudentFirstName" hidden value="@Model.StudentFirstName">-->
                                    <input type="text" asp-for="StudentLastName" name="StudentLastName" hidden value="@Model.StudentLastName">
                                    <input type="text" asp-for="Email" name="Email" hidden value="@Model.Email">
                                    <input type="text" asp-for="PhoneNumber" name="PhoneNumber" hidden value="@Model.PhoneNumber">
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
